<div class='container'>
  <div>
    <%= link_to 'New Story', new_story_path %>
  </div>

  <% @stories.each do |story| %>
    <div class='gray'>
      <p><%= link_to story.to_sentence, story_path(story) %></p>
      <p>– <%= story.writer.name %></p>
    </div>
  <% end %>
</div>
