<div class='gray container'>
  <%= form_for @story do |f| %>
    <%= f.check_box :implemented, disabled: !@story.can_be_manually_marked_as_implemented? %>
    <%= f.label :implemented, @story.to_sentence %>
  <% end %>
</div>
